/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*App specific css
*/
body
{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header {
  border-bottom: 1px solid #e0e0e0;
  background-color: #009688;
  padding: 0 10px 0 10px;
}
header .title{
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.search-box {
  border-bottom: 1px solid #e0e0e0;
  height: 48px;
  line-height: 48px;
}
input {
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  height: 45px;
  padding: 0 10px 0 10px;
  border: 0;
}
#map {
 width: 100%;
 top: 114px;
 bottom: 0px;
 position: absolute;
 background-color: rgb(244, 244, 244);
 z-index: 1;
}
.angular-leaflet-map {
  width:  100%;
  height:  100%;
}
.map-card {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  height: 70%;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  position:absolute;
  bottom: -90%;
  -webkit-transition: -webkit-transform 0.3s, bottom 0.3s;
  transition: transform 0.3s, bottom 0.3s;
  overflow: auto;
}
.map-card-min {
  bottom: -70%;
  transform: translateY(-90px);
}
.map-card-max {
  bottom: -20%;
  transform: translateY(-40px);
  -webkit-transition: -webkit-transform 0.3s, bottom 0.3s;
  transition: transform 0.3s, bottom 0.3s;
}
.locate {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 20px 20px;
  float: right;
  z-index: 2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.locate .material-icons {
  padding: 18px;
}
.material-icons.md-dark {
  color: rgba(0, 150, 136, 0.54);
}
.material-icons.md-dark.md-inactive { 
  color: rgba(0, 0, 0, 0.26); 
}
.material-icons.md-dark:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
}
.close {
  cursor: pointer;
  float: right;
  padding: 16px
}
.map-card h1 {
  font-size:24px;
}
.map-card h1, .map-card p {
  padding: 16px
}
@media (min-width: 768px) {
  .map-card {
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
  }
}