<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <link rel="apple-touch-icon" href="TNMap-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="TNMap-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="114x114" href="TNMap-icon-iphone4.png">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,300,700,400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/style.css">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5-els.js"></script>
  <![endif]-->

</head>
<body ng-app="tnmap">
  <header>
    <div class="title">Title of app</div>
  </header>
  <!--Search box container-->
  <div class="search-box"><input type="search" placeholder="Search"></div>
  <!--Map-->
  <div id="map" ng-controller="MapControl" ng-click="select()"></div>
  <div class="locate"><i class="material-icons md-dark md-inactive">&#xE55C;</i></div>
  <!--Placeholder for different routed content-->
  <div class="map-card" ng-controller="CardControl" ng-click="toggle()">
    <div><i class="close material-icons md-dark md-inactive" ng-click="removecard($event)">&#xE5CD;</i></div>
    <div>
      <h1>Title of selection</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="js/site.min.js"></script>
</body>
</html>